<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Books For Life</title>
  </head>
  <body>
    <h1>Welcome to Books for Life Application</h1>
    <h3>Your gate to grate books</h3>
    <div class="index-link-text"><a href="/books/newBook">Add New Book</a></div>
  </body>
</html>
